// 主色
$color-primary: #fc6b21;
$color-primary-light-1: #fc7b31;
$color-primary-light-2: #fc8b41;
$color-primary-light-3: #fcab21;

$color-primary-text: #fff;

$color-gray-1: #f5f5f5;
$color-gray-2: #f2f2f2;
$color-gray-3: #eee;
$color-gray-4: #ddd;

// 辅助色
$color-info: #909399;
$color-success: #67C23A;
$color-warning: #E6A23C;
$color-danger: #F56C6C;

// 文字
$color-text-main: #303133;
$color-text-normal: #606266;
$color-text-sub: #909399;
$color-text-placehoder: #C0C4CC;

// 边框
$color-border-1: #DCDFE6;
$color-border-2: #E4E7ED;
$color-border-3: #EBEEF5;
$color-border-4: #F2F6FC;

// 背景
$color-bg: #fff;
